@tailwind base;
@tailwind components;
@tailwind utilities;

.accordion .accordion-item .collapse {
    visibility: visible !important;
}

.accordion-button:not(.collapsed) {
  color: rgb(53, 53, 53);
  background-color: rgb(175, 171, 171);
}

.accordion-button:focus {
  box-shadow: none !important;
}
.carousel-control-next, .carousel-control-prev {
  color: black !important;
}